# phplint tool creates cache file which is not necessary in a codebase
/.phplint-cache

# Application config may contain sensitive data
/__src/config/**/*.*
!/__src/config/example.inc.php

# Logs folder
/__log/**/*.*

# Composer packages
/vendor/**/*

# PhpStorm project files that may contain user sensitive data
/.idea/sshConfigs.xml
/.idea/dataSources.xml
/.idea/webServers.xml
/.idea/deployment.xml
